#
# This file is managed by Ansible.
#
q_depth = {{ auditd_params.audisp_q_depth }}
overflow_action = {{ auditd_params.audisp_overflow_action }}
priority_boost = {{ auditd_params.audisp_priority_boost }}
max_restarts = {{ auditd_params.audisp_max_restarts }}
name_format = {{ auditd_params.audisp_name_format }}
{% if auditd_params.audisp_name %}
name = {{ auditd_params.audisp_name }}
{% endif %}
