#
# This file is managed by Ansible
#
log_file = {{ auditd_params.log_file }}
log_format = {{ auditd_params.log_format }}
log_group = {{ auditd_params.log_group }}
{% if auditd_params.write_logs %}
write_logs = {{ auditd_params.write_logs }}
{% endif %}
priority_boost = {{ auditd_params.priority_boost }}
flush = {{ auditd_params.flush }}
freq = {{ auditd_params.freq }}
num_logs = {{ auditd_params.num_logs }}
disp_qos = {{ auditd_params.disp_qos }}
dispatcher = {{ auditd_params.dispatcher }}
name_format = {{ auditd_params.name_format }}
name = {{ auditd_params.admin }}
max_log_file = {{ auditd_params.max_log_file }}
max_log_file_action = {{ auditd_params.max_log_file_action }}
space_left = {{ auditd_params.space_left }}
space_left_action = {{ auditd_params.space_left_action }}
action_mail_acct = {{ auditd_params.action_mail_acct }}
admin_space_left = {{ auditd_params.admin_space_left }}
admin_space_left_action = {{ auditd_params.admin_space_left_action }}
disk_full_action = {{ auditd_params.disk_full_action }}
disk_error_action = {{ auditd_params.disk_error_action }}
{% if auditd_params.tcp_listen_port %}
tcp_listen_port = {{ auditd_params.tcp_listen_port }}
{% endif %}
tcp_listen_queue = {{ auditd_params.tcp_listen_queue }}
{% if auditd_params.tcp_max_per_addr %}
tcp_max_per_addr = {{ auditd_params.tcp_max_per_addr }}
{% endif %}
{% if auditd_params.tcp_client_ports %}
tcp_client_ports = {{ auditd_params.tcp_client_ports }}
{% endif %}
tcp_client_max_idle = {{ auditd_params.tcp_client_max_idle }}
enable_krb5 = {{ auditd_params.enable_krb5 }}
krb5_principal = {{ auditd_params.krb5_principal }}
{% if auditd_params.krb5_key_file %}
krb5_key_file = {{ auditd_params.krb5_key_file }}
{% endif %}
